<!DOCTYPE html>

<html lang="en">

<head>
<style>
         body, html {  height: 100%;margin: 0;}
         .bg {
         /* The image used */
         background-image: url("https://i.pinimg.com/474x/bb/51/f7/bb51f7930bcd0c21b5e6de58ae2005a6--cloud-wallpaper-land-scape.jpg");
         /* Full height */
         height: 100%;
         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;  }

          .tab { 
              display: inline-block; 
            margin-left: 47.5px; 
        } 
          .tab1 { 
              display: inline-block; 
            margin-left: 18px; 
        } 

      </style>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Team Cloud Techies Website</title>

  <meta name="HandheldFriendly" content="True" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

</head>

<body class="bg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div>

    <h1 style="color:#A569BD ;text-align:center;">Welcome to Cloud Techies Training application</h1> 

    <!-- <h2 style="color:Cyan;">This is an Event hosting application created by </h2>

    <ul style="color:Cyan;"> <li> Nitish </li> 

    <li> Venkatesh </li>

    <li> Rishav </li> </ul>  -->

 
{{{body}}}
 <div style="margin-left: 2.5em">
  <h2 style="color:black;">Add an event</h2>

    <form style="color:black;" action="/event" method="post" >
     
       Title: <span class="tab"></span> <input style="color:black;" name="title" type="text" /> <br />
    
    
       Description: <input style="color:black;" name="description" type="text" /> <br />
    
    
       Location: <span class="tab1"></span> <input style="color:black;" name="location" type="text" /> <br />
  
       <br />

        <input type="submit" name="submit" value="submit" />

    </form>
</div>
  </div>

</body>

</html>