
<div class="d-flex flex-column bd-highlight mb-3">
  {{#events}}
       <div class="p-2 bd-highlight"> 
        <h2 style="color:black;">{{ title }}</h2> </div>
          <div class="p-2 bd-highlight">
        <p style="color:black;">{{ description }}</p> </div>
          <div class="p-2 bd-highlight">
        <p style="color:black;">{{ location }}</p> </div>
  {{/events}}
</div>