<div class="d-flex flex-column bd-highlight mb-2">
  {{#events}}
       <div style="color:black; width:50%; margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;" class="p-2 bd-highlight"> 
        <div> <h2>{{ title }}</h2> </div>
          <div style="margin-left: 2.5em;padding: 0 7em 2em 0;" class="p-2 bd-highlight">
       {{ description }} </div>
          <div style="margin-left: 2.5em;padding: 0 7em 2em 0;" class="p-2 bd-highlight">
        {{ location }} </div> 
        </div>

  {{/events}}
</div>